@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model HTQL_DichVuYTeGiaDinh.ViewModels.LapPhieuThuViewModel

<h2>Xác nhận lập phiếu thu</h2>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
<p>Đơn thuốc số: @Model.MaDonThuoc</p>
<p>Tổng tiền: @String.Format("{0:N0}", Model.TongTien) VND</p>

<table class="table">
    <thead>
        <tr>
            <th>Tên thuốc</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var chiTiet in Model.DonThuoc.ChiTietDonThuocs)
        {
            var donGia = chiTiet.MaThuocNavigation.DonGiaThuocs
            .OrderByDescending(dg => dg.ThoiDiem)
            .FirstOrDefault()?.DonGiaThuoc1 ?? 0;

            <tr>
                <td>@chiTiet.MaThuocNavigation.TenThuoc</td>
                <td>@chiTiet.SoLuong</td>
                <td>@String.Format("{0:N0}", donGia) VND</td>
                <td>@String.Format("{0:N0}",chiTiet.SoLuong * donGia) VND</td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="LapPhieuThuConfirmed" method="post">
    <input type="hidden" name="maDonThuoc" value="@Model.MaDonThuoc" />
    <button type="submit" class="btn btn-primary">Xác nhận lập phiếu thu</button>
</form>
